.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("../../assets/img/background.png") center/cover no-repeat fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3% 0 3%;
    font-size: 25px;
    margin-bottom: 7%;
}

.logo img {
    width: 80px;
    height: auto;
}

.infoSection {
    display: flex;
    gap: 30px;
}

.NameDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
}

.NameDescription h1 {
    margin-bottom: 3%;
    font-size: 6rem;
}

.tryButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}
.tryButton button {
    border: none;
    padding: 25px 100px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 650;
    background-color: white;
    margin-bottom: 0.5%;
}
.tryButton button a {
    color: black;
    text-decoration: none;
}
.tryButton a {
    color: white;
    text-decoration: none;
}
.tryButton p a {
    color: #2A0077;
    text-decoration: none;
    
}

.ScrollButton {
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-size: 2rem;
    gap: 0.7%;
}




